*.iml
.gradle
/local.properties
.idea
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/build
/captures
.externalNativeBuild
.cxx
out
gen
gradle-app.setting
/gradle.properties
